:root {
  --primary-color: #291f71;
  --secondary-color: #cabbe9;
  --heading-font-family: "Madimi One", sans-serif;
  --main-font-family: "Cabin", sans-serif;
}

body {
  font-family: var(--main-font-family);
}

h1 {
  font-size: 100px;
}

h2 {
  text-align: center;
  font-size: 50px;
}

p {
  text-align: center;
}

.intro {
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 130px 20px;
  font-family: var(--heading-font-family);
  text-align: center;
}

.btn-branding {
  font-size: 15px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  padding: 12px 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  line-height: 27px;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-journey {
  font-size: 15px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  padding: 12px 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  line-height: 27px;
}

.btn-journey:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-projects {
  font-size: 15px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  padding: 12px 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  line-height: 27px;
}

.btn-projects:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.description-text {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.content h1 {
  font-size: 50px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}

.content h2 {
  font-size: 25px;
  font-family: var(--heading-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0px;
}

.content p {
  font-size: 15px;
}

.content {
  padding: 130px 20px;
}

.content-block {
  text-align: center;
  padding: 120px 30px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
  font-family: var(--heading-font-family);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li .active a {
  color: var(--secondary-color);
}

@media (max-width: 1023px) {
  .description-text {
    padding: 50px;
    text-align: center;
  }

  .pic {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .middle {
    display: flex;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .intro {
    padding: 80px 20px;
  }

  .description-text {
    padding-top: 0px;
    text-align: center;
  }
  .content {
    padding-bottom: 30px;
  }

  nav a {
    font-size: 14px;
  }
}
