:root {
  --primary-color: #291f71;
  --secondary-color: #cabbe9;
  --heading-font-family: "Madimi One", sans-serif;
  --main-font-family: "Cabin", sans-serif;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 20px;
  padding-bottom: 50px;
}

.intro {
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 130px 20px;
  font-family: var(--heading-font-family);
  text-align: center;
}

.btn-contract {
  font-size: 15px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  padding: 12px 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  line-height: 27px;
}
